complete "id" run=#"""
case "{{words[1]}}" in
  stop|wait)
    pitchfork ls --hide-header --status running | awk '{print $1}'
    ;;
  restart)
    pitchfork ls --hide-header --status running --status stopped --status errored --status failed | awk '{print $1}'
    ;;
  start)
    pitchfork ls --hide-header --status available --status stopped --status errored --status failed | awk '{print $1}'
    ;;
  enable)
    pitchfork ls --hide-header --status disabled | awk '{print $1}'
    ;;
  disable)
    pitchfork ls --hide-header --status running --status available | awk '{print $1}'
    ;;
  *)
    pitchfork ls --hide-header | awk '{print $1}'
    ;;
esac
"""#
